{% extends 'shell.html' %}
{% block content %}
<h2>Injury Detail</h2>
<p>ID: {{ object.id }}</p>
<p>Issue: {{ object.issue }}</p>
<p>Area: {{ object.area }}</p>
<p>Side: {{ object.side }}</p>
<p>Start date/time: {{ object.start_datetime }}</p>
<p>End date: {{ object.calculated_injury.end_date }}</p>
<p>Severity: {{ object.severity }}</p>
<p>Max severity: {{ object.calculated_injury.max_severity }}</p>
<p>Mode severity: {{ object.calculated_injury.mode_severity }}</p>
<p>Description: {{ object.description }}</p>
<a class="btn btn-secondary" href="{% url 'injury-list' %}">Back to List</a>
<a class="btn btn-primary" href="{% url 'injury-update' object.id %}">Edit</a>
<a class="btn btn-danger" href="{% url 'injury-delete' object.id %}">Delete</a>
{% endblock %}
